{% extends "base.html" %}
{% load static %}

{% block title %}
YECT: type Summary
{% endblock %}

{% block head_script %}
{% endblock %}

{% block head_link %}
{% endblock %}


{% block content %}
<div id="index-banner" class="parallax-container bottom-border">
<div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-darken-4"> Account creation failed</h1>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="{% static "img/grid.png" %}" alt="Grid image"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row center">
            Before an account can be created, you must <a href="{% url 'registration:apply' %}">apply for membership</a> and wait for the approval to be processed.
        </div>
    </div>
</div>


{% endblock %}