{% extends "base.html" %}
{% load static %}

{% block title %}
YECT: type Summary
{% endblock %}

{% block head_script %}
{% endblock %}

{% block head_link %}
{% endblock %}


{% block content %}
<div id="index-banner" class="parallax-container bottom-border">
<div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-darken-4"> Apply for access</h1>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="{% static "img/grid.png" %}" alt="Grid image"></div>
</div>

<div class="container">
    <div class="section">
        <form name="registration_application" id="registration_application" method="post">
            {% csrf_token %}
            <div class="row center">
                <div class="input-field col s4 offset-s4">
                {{ registration_form }}
                </div>
            </div>
            <div class="row center">
                <input class="btn btn-primary col s4 offset-s4" type="submit" value="Apply" name="save_account" />
            </div>
        </form>
    </div>
</div>


{% endblock %}