{% extends "admin/change_list.html" %}
{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="upload" class="grp-state-focus addlink">Upload</a>
    </li>
    <li>
        <a href="purge" class="grp-state-focus deletelink">Purge</a>
    </li>
{% endblock %}