{% extends "base.html" %}
{% load static %}

{% block title %}
YECT: type Summary
{% endblock %}

{% block head_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="{% static "bankbook/js/stacked_area_chart.js" %}"></script>
    <script src="{% static "bankbook/js/horizontal_bar_plots.js" %}"></script>
<script src="{% static "bankbook/js/utils.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.js"></script>
{% endblock %}

{% block head_link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.css">
{% endblock %}


{% block content %}
<div id="index-banner" class="parallax-container bottom-border">
<div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-darken-4"> {{ account_name }}</h1>
            {% if included_accounts %}
            <div class="center">
                <h6 class="header col s12 teal-text text-darken-4">{{ included_accounts }}</h6>
            </div>
            {% endif %}
            <div class="row center">
                <h5 class="header col s12 teal-text text-darken-4">summary</h5>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="{% static "img/grid.png" %}" alt="Grid image"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row center">
            <a class="dropdown-trigger btn-small waves-effect" href="#!" data-target="select_year">{{ selected_year }}</a>
            <ul id='select_year' class='dropdown-content'>
                {% for year in year_list  %}
                    <li><a href="{% url 'bankbook:account_summary' account_type=account_type account_id=account_id year=year %}">{{ year }}</a></li>
                {% endfor %}
            </ul>

            <a href="{% url 'bankbook:edit_account' account_type=account_type account_id=account_id %}"><i class="material-icons right small">settings</i></a>
        </div>
        <div class="row">
            <div id="summary_plot">
                <svg style="width:100%;height:400px"></svg>
            </div>
            <script>stackedAreaChart(addMissingTimeEvents({{ summary|safe }}),'#summary_plot svg',"%Y %b");</script>
        </div>
    </div>
</div>

  {% for m, d in month.items %}
<div id="index-banner" class="parallax-container top-border bottom-border">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="{% static "img/grid.png" %}" alt="Grid image"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <h4 class="center teal-text text-darken-4">{{ m }}</h4>
        </div>
        <div class="row">
            <div class="col s12 m2 z-depth-1">
                <h5 class="center">Balance</h5>
                <p class="center">{{ d.balance }}</p>
            </div>
            <div class="col s12 m2 z-depth-1">
                <h5 class="center">Income</h5>
                <p class="center">{{ d.income.balance }}</p>
            </div>
            <div class="col s12 m2 z-depth-1">
                <h5 class="center">Expense</h5>
                <p class="center">{{ d.expense.balance }}</p>
            </div>
            <div class="col s12 m2 z-depth-1">
                <h5 class="center">Savings</h5>
                <p class="center">{{ d.saving.balance }}</p>
            </div>
            <div class="col s12 m2 z-depth-1">
                <h5 class="center">Transaction</h5>
                <p class="center">{{ d.transaction.balance }}</p>
            </div>
            <div class="col s12 m2 z-depth-1">
                <h5 class="center">Unknown</h5>
                <p class="center">{{ d.unknown.balance }} </p>
            </div>
        </div>
        <div class="row">
          <div id="summary_plot{{ m }}">
             <b></b>
              <svg style="width:100%;height:400px"></svg>
          </div>
      <script>createHorizontal({{ d.expense_type|safe }},'#summary_plot{{ m }} svg');</script>
<br />
        </div>
        <div class="row center">
            <a  href="{% url 'bankbook:statements' account_type=account_type account_id=account_id year=d.year month=d.month %}" class="waves-effect waves-light btn-large">Detailed information</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}