{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Type Summary</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
  <script src="{% static "bankbook/js/stacked_area_chart.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.css">

</head>

<body>
  <div id="summary_plot">
      <svg style="width:100%;height:400px"></svg>
    </div>
    <script>stackedAreaChart({{ summary|safe }},'#summary_plot svg');</script>
</body>
</html>