{% extends "base.html" %}
{% load static %}

{% block title %}
YECT: edit
{% endblock %}

{% block content %}
<div id="index-banner" class="parallax-container bottom-border">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            {% if account_name %}
            <h1 class="header center teal-text text-darken-4"> {{ account_name }} </h1>
            <div class="row center">
                <h5 class="header col s12 teal-text text-darken-4">statements</h5>
            </div>
            {% else %}
            <h1 class="header center teal-text text-darken-4"> New </h1>
            {% endif %}
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="{% static "img/grid.png" %}" alt="Grid image"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h5>Please confirm that the statement should be deleted from {{ account_name }}:</h5>
                {{ statement_text }}: {{ statement_amount }}
            </div>
            <div class="col s12">
                <form action="" method="post" class="form-horizontal form-label-left">
                    <div class="input-field">
                        <a href="{% url 'bankbook:statement_edit' statement_id=statement_id %}" class="btn btn-primary">cancel<a/>
                        {% csrf_token %}
                        <input type="submit" value="confirm" name="confirm" class="btn red" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block endscript %}

{% endblock %}
