{% extends "base.html" %}
{% load static %}

{% block title %}
YECT: edit
{% endblock %}

{% block content %}
<div id="index-banner" class="parallax-container bottom-border">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            {% if account_name %}
            <h1 class="header center teal-text text-darken-4"> {{ account_name }} </h1>
            <div class="row center">
                <h5 class="header col s12 teal-text text-darken-4">statements</h5>
            </div>
            {% else %}
            <h1 class="header center teal-text text-darken-4"> New </h1>
            {% endif %}
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="{% static "img/grid.png" %}" alt="Grid image"></div>
</div>

<div class="container">
    <div class="section">
        <form id="id_statementform" action="" method="post" class="form-horizontal form-label-left">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="input-field col s12">
                    <label for="id_date">Date: </label>
                    {{ form.date }}
                    {{ form.date.errors }}
                    {% if form.date.help_text %}
                        <small>
                            <span id="helpBlock" class="help-block">{{ form.date.help_text|safe }}</span>
                        </small>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="id_text">Text: </label>
                    {{ form.text }}
                    {{ form.text.errors }}
                    {% if form.text.help_text %}
                        <small>
                            <span id="helpBlock" class="help-block">{{ form.text.help_text|safe }}</span>
                        </small>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="id_amount">Amount: </label>
                    {{ form.amount }}
                    {{ form.amount.errors }}
                    {% if form.amount.help_text %}
                        <small>
                            <span id="helpBlock" class="help-block">{{ form.amount.help_text|safe }}</span>
                        </small>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="id_account" class="active">Account: </label>
                    <input readonly="readonly" type="text" value="{{ account_name }}" />
                    <input id="id_account" name="account" readonly="readonly" type="hidden" value="{{ form.account.value }}" required />
                    {{ form.account.errors }}
                    {% if form.account.help_text %}
                        <small>
                            <span id="helpBlock" class="help-block">{{ form.account.help_text|safe }}</span>
                        </small>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label for="id_type"  class="active">Type: </label>
                    <select class="custom-form-select" id="id_type" name="type" required>
                    {% for type in form.type.field.choices %}
                        {% if type.0 == 20000 %}
                            </optgroup>
                            <optgroup label="{{ type.1 }}">
                        {% elif type.0 == 15000 %}
                            </optgroup>
                            <optgroup label="{{ type.1 }}">
                        {% elif type.0 == 10000 %}
                            <optgroup label="{{ type.1 }}">
                        {% else %}
                            {% if type.2 %}
                            <option style="margin-left:30px;" {% if form.type.initial and form.type.initial == type.0%} selected {% endif %} value="{{ type.0 }}">MMM{{ type.1 }}</option>
                            {% else %}
                                <option style="margin-left:30px;" {% if form.type.initial and form.type.initial == type.0%} selected {% endif %} value="{{ type.0 }}">{{ type.1 }}</option>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                        </optgroup>
                    </select>
                    {{ form.type.errors }}
                    {% if form.type.help_text %}
                        <small>
                            <span id="helpBlock" class="help-block">{{ form.type.help_text|safe }}</span>
                        </small>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>
                    {{ form.exclude }}
                    {{ form.exclude.errors }}
                    {% if form.exclude.help_text %}
                        <small>
                            <span id="helpBlock" class="help-block">{{ form.exclude.help_text|safe }}</span>
                        </small>
                    {% endif %}
                    <span>Exclude</span> </label>
                </div class="col s12">
            </div>
            <div class="row">
                <div class="col s6">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
                </div>
                <div class="col s6 right-align">
                    <a href="{% url 'bankbook:statement_delete' statement_id=statement_id %}" class="btn btn-primary red" >DELETE</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block endscript %}

{% endblock %}
