{% extends "base.html" %}
{% load static %}

{% block title %}
YECT: edit
{% endblock %}

{% block content %}
<div id="index-banner" class="parallax-container bottom-border">
<div class="section no-pad-bot">
        <div class="container">
            <br><br>
            {% if account_id %}
            <h1 class="header center teal-text text-darken-4"> {{ account_name }} </h1>
            {% else %}
            <h1 class="header center teal-text text-darken-4"> New </h1>
            {% endif %}
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="{% static "img/grid.png" %}" alt="Grid image"></div>
</div>

<div class="container">
{% if combined_account_form %}
    {% if account_form %}
    <div class="section">
        <div class="row">
            <form>
                <label>
                    <input group="type1" type="radio" id="account_type" name="account" onclick="javascript:accountType();" checked>
                    <span>Regular</span>
                </label>
                 <label>
                     <input group="type1" type="radio" id="combinedaccount_type" name="account" onclick="javascript:accountType();">
                     <span>Combined</span>
                 </label>
            </form>
        </div>
    </div>
    {% endif %}
{% endif %}

{% if account_form %}
    <div class="section" id="account_form">
        <form class="col s12" name="account" id="account" method="post">
            {% csrf_token %}
            {{ account_form.non_field_errors }}
            {{ account_form.owner }}
            <div class="row">
                <div class="input-field col s6">

                    {{ account_form.bank }}
                    {{ account_form.bank.errors }}
                    {% if account_form.bank.help_text %}
                    <small>
                        <span id="helpBlock" class="help-block">{{ account_form.bank.help_text|safe }}</span>
                    </small>
                    {% endif %}
                    <label for="id_bank" class="active">Bank: </label>
                </div>
                <div class="input-field col s6">
                    <label for="id_account_number" >Account number: </label>
                    {{ account_form.account_number }}
                    {{ account_form.account_number.errors }}
                    {% if account_form.account_number.help_text %}
                    <small>
                        <span id="helpBlock" class="help-block">{{ account_form.account_number.help_text|safe }}</span>
                    </small>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="id_name" >Name: </label>
                    {{ account_form.name }}
                    {{ account_form.name.errors }}
                    {% if account_form.name.help_text %}
                    <small>
                        <span id="helpBlock" class="help-block">{{ account_form.name.help_text|safe }}</span>
                    </small>
                    {% endif %}
                </div>
                <div class="input-field col s6">
                    <label for="id_start_balance">Start balance: </label>
                    {{ account_form.start_balance }}
                    {{ account_form.start_balance.errors }}
                    {% if account_form.start_balance.help_text %}
                    <small>
                        <span id="helpBlock" class="help-block">{{ account_form.start_balance.help_text|safe }}</span>
                    </small>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 center">
                    <input class="btn btn-primary" type="submit" value="Save" name="save_account" />
                </div>
            </div>
        </form>
    </div>
{% endif %}
{% if combined_account_form %}
    <div class="section" id="combineaccount_form">
        <form action="" name="combinedAccount" id="combinedaccount" method="post">
            {% csrf_token %}
            {{ combined_account_form.owner }}
            {% if combined_account_form.non_field_errors %}
            <div class="alert alert-warning">
                {{ combined_account_form.non_field_errors }}
            </div>
            {% endif %}
            <div class="row" id="combinedaccount_form" {% if account_form %} style="display:none" {% endif %}>
                <div class="input-field col s10">
                    <label for="id_name" class="active">Name: </label>
                    {{ combined_account_form.name }}
                    {{ combined_account_form.name.errors }}
                    {% if combined_account_form.name.help_text %}
                        <small>
                            <span id="helpBlock" class="help-block">{{ combined_account_form.name.help_text|safe }}</span>
                        </small>
                    {% endif %}
                </div>

                <div class="col s10">
                    <h6>Accounts</h6>
                </div>
                {{ combined_item_formset.management_form }}
                {% for form in combined_item_formset.forms %}
                <div class="col s12">
                    <div class="input-field">
                        <div class="combine-item-formset">
                            <label for="id_account" class="active">Account: </label>
                            {{ form.account }}
                            {{ form.account.errors }}
                            {% if form.name.help_text %}
                                <small>
                                    <span id="helpBlock" class="help-block">{{ form.name.help_text|safe }}</span>
                                </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if combined_item_formset.non_form_errors %}
                    {% for error in combined_item_formset.non_form_errors %}
                    <div class="alert alert-warning">
                        {{ error|escape }}
                    </div>
                    {% endfor %}
                {% endif %}

                <div class="col s12 right">
                    <input class="btn btn-primary pull-right" type="submit" value="Save" name="save_combinedaccount" />
                </div>
                <div style="clear: both;"></div>
            </div>
        </form>
    </div>
{% endif %}
</div>
{% endblock %}

{% block endscript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>

{% if combined_account_form %}
    {% if account_form %}
<script type="text/javascript">
function accountType() {
    if (document.getElementById('account_type').checked) {
        document.getElementById('account_form').style.display = 'block';
        document.getElementById('combinedaccount_form').style.display = 'none';
    } else {
        document.getElementById('account_form').style.display = 'none';
        document.getElementById('combinedaccount_form').style.display = 'block';
    }
}
</script>
    {% endif %}
{% endif %}

<script>
    $('.combine-item-formset').formset({
        addText: 'add account',
        deleteText: 'remove',
        added: function() {$('select').formSelect()}
    });
</script>

<script>
$(document).ready(function() {
    $('select').formSelect();
  });
</script>

<script>
    $('#formset').on('formAdded', function(event) {
    newForm = event.target;
    $('select').formSelect();
});
</script>
{% endblock %}

