{% extends "base.html" %}
{% load static %}

{% block title %}
YECT: edit
{% endblock %}

{% block head_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="{% static "bankbook/js/multichart_plots.js" %}"></script>
    <script src="{% static "bankbook/js/linechart_plots.js" %}"></script>
    <script src="{% static "bankbook/js/horizontal_bar_plots.js" %}"></script>
    <script src="{% static "bankbook/js/piechart_plot.js" %}"></script>
    <script src="{% static "bankbook/js/utils.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.css">
{% endblock %}

{% block content %}
<div id="index-banner" class="parallax-container bottom-border">
<div class="section no-pad-bot">
        <div class="container">
            <h1 class="header center teal-text text-darken-4"> {{ account_name }} </h1>
            {% if included_accounts %}
            <div class="center">
                <h6 class="header col s12 teal-text text-darken-4">{{ included_accounts }}</h6>
            </div>
            {% endif %}
            <h4 class="header center teal-text text-darken-4">{{ selected_year }}</h4>
            <br/><br/>
        </div>
    </div>
    <div class="parallax"><img src="{% static "img/grid.png" %}" alt="Grid image"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row center">
            <h3>Year Summary</h3>
        </div>
        <div class="row">
            {% if year_summary.transaction.balance > 0  or  year_summary.unknown.balance > 0%}
            <div class="col s2">
            {% else %}
            <div class="col s2 offset-s1">
            {% endif%}
                <div class="card">
                    <div class="card-content center">
                        {{ year_summary.balance.balance}}<br />
                        <h7>Balance</h7>
                    </div>
                </div>
            </div>
            <div class="col s2">
                <div class="card">
                    <div class="card-content center">
                        {{ year_summary.income.balance}}<br />
                        <h7>Income</h7>
                    </div>
                </div>
            </div>
            <div class="col s2">
                <div class="card">
                    <div class="card-content center">
                        {{ year_summary.expense.balance}}<br />
                        <h7>Expenses</h7>
                    </div>
                </div>
            </div>
            <div class="col s2">
                <div class="card">
                    <div class="card-content center">
                        {{ year_summary.saving.balance}}<br />
                        <h7>Savings</h7>
                    </div>
                </div>
            </div>
            {% if year_summary.transaction.balance > 0 %}
            <div class="col s2">
                <div class="card">
                    <div class="card-content center">
                        {{ year_summary.transaction.balance }}<br />
                        <h7>Transactions</h7>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if year_summary.unknown.balance > 0 %}
            <div class="col s2">
                <div class="card">
                    <div class="card-content">
                        {{ year_summary.unknown.balance}}<br />
                        <h7>Unknown</h7>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row center">
            <div id="year_balance_plot_{{ timestamp_id }}">
                <svg style="width:100%;height:400px"></svg>
            </div>
            <script>linechart({{ year_balance_plot|safe }},'#year_balance_plot_{{ timestamp_id }} svg', 'Year');</script>

        </div>
        <div class="row center">
            <div class="col s12"  style="height:400px;width:100%">
                <svg id="expenses_year_{{ timestamp_id }}" style="width:100%;height:400px"></svg>
            </div>
            <script>createHorizontal({{ year_type_summary|safe }},'#expenses_year_{{ timestamp_id }}')</script>
        </div>
        <div class="row center">
            <div class="slider">
                <ul class="slides" style="background-color: white;">
                {% for chart in piecharts %}
                <li>
                    <h5>{{ chart.title }}</h5>
                    <svg id="piechart_house_{{ chart.id }}_{{ timestamp_id }}" style="width:100%;height:400px"></svg>
                    <script>createPiechart({{ chart.data|safe }},'#piechart_house_{{ chart.id }}_{{ timestamp_id }}')</script>
                </li>
                {% endfor%}
                </ul>
            </div>
        </div>
    </div>
</div>



<div id="index-banner" class="parallax-container top-border bottom-border">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="{% static "img/grid.png" %}" alt="Grid image"></div>
</div>

<div class="container">
    <div class="row center">
        <h3>Month Summary</h3>
    </div>

    <div class="section">
        <div class="row center">
            <h5>Balance</h5>
            <div id="month_balance_plot_{{ timestamp_id }}">
                <svg style="width:100%;height:400px"></svg>
            </div>
            <script>linechart({{ month_balance_plot|safe }},'#month_balance_plot_{{ timestamp_id }} svg', 'Month');</script>
        </div>
        <div class="row">
            {% if month_avg_summary.transaction.balance > 0  or  month_avg_summary.unknown.balance > 0%}
            <div class="col s2">
            {% else %}
            <div class="col s2 offset-s1">
            {% endif%}
                <div class="card">
                    <div class="card-content center">
                        {{ month_avg_summary.income.avg|floatformat:0 }}<br />
                        {% if month_avg_summary.income.stdev == "NA"  %}
                        <span style="font-size: 12px">NA</span><br/>
                        {% else %}
                        <span style="font-size: 12px"">&#xB1;{{ month_avg_summary.income.stdev|floatformat:0 }}</span><br />
                        {% endif %}
                        <h7>Income</h7>
                    </div>
                </div>
            </div>
            <div class="col s2">
                <div class="card">
                    <div class="card-content center">
                        {{ month_avg_summary.expense.avg|floatformat:0}}<br />
                        {% if month_avg_summary.expense.stdev == "NA"  %}
                        <span style="font-size: 12px">NA</span><br/>
                        {% else %}
                        <span style="font-size: 12px">&#xB1;{{ month_avg_summary.expense.stdev|floatformat:0 }}</span><br />
                        {% endif %}
                        <h7>Expenses</h7>
                    </div>
                </div>
            </div>
            <div class="col s2">
                <div class="card">
                    <div class="card-content center">
                        {{ month_avg_summary.saving.avg|floatformat:0 }}<br />
                        {% if month_avg_summary.saving.stdev == "NA"  %}
                        <span style="font-size: 12px">NA</span><br/>
                        {% else %}
                        <span style="font-size: 12px">&#xB1;{{ month_avg_summary.saving.stdev|floatformat:0 }}</span><br />
                        {% endif %}
                        <h7>Savings</h7>
                    </div>
                </div>
            </div>
            {% if year_summary.transaction.balance > 0 %}
            <div class="col s2">
                <div class="card">
                    <div class="card-content center">
                        {{ month_avg_summary.transaction.avg|floatformat:0 }}<br />
                        {% if month_avg_summary.transaction.stdev == "NA"  %}
                        <span style="font-size: 12px">NA</span><br/>
                        {% else %}
                        <span style="font-size: 12px">&#xB1;{{ month_avg_summary.transaction.stdev|floatformat:0 }}</span><br />
                        {% endif %}
                        <h7>Transactions</h7>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if year_summary.unknown.balance > 0 %}
            <div class="col s2">
                <div class="card">
                    <div class="card-content">
                        {{ month_avg_summary.unknown.avg|floatformat:0 }}<br />
                        {% if month_avg_summary.unknown.stdev == "NA"  %}
                        <span style="font-size: 12px">...</span><br/>
                        {% else %}
                        <span style="font-size: 12px">&#xB1;{{ month_avg_summary.unknown.stdev|floatformat:0 }}</span><br />
                        {% endif %}
                        <h7>Unknown</h7>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row center">
            <h5>Month data</h5>
            <div id="summary_plot_{{ timestamp_id }}">
                <svg style="width:100%;height:400px"></svg>
            </div>
            <script>multiChartPlot({{ summary_plot|safe }},'#summary_plot_{{ timestamp_id }} svg');</script>
        </div>
        <div class="row center">
            <h5>Average Expenses</h5>
            <div class="col s12"  style="height:400px;width:100%">
                <svg id="avr_expenses_month_{{ timestamp_id }}" style="width:100%;height:400px"></svg>
            </div>
            <script>createHorizontalErrorBar({{ month_avr_type_summary|safe }},{{ month_avr_type_summary.0.biggest }},'#avr_expenses_month_{{ timestamp_id }}')</script>
        </div>
    </div>
</div>
{% endblock %}

{% block endscript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems, options);
  });

  $(document).ready(function(){
    $('.slider').slider({height: 450});
  });
</script>
{% endblock %}

