{% extends "base.html" %}
{% load static %}

{% block title %}
YECT: statements
{% endblock %}

{% block head_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="{% static "bankbook/js/stacked_area_chart.js" %}"></script>
    <script src="{% static "bankbook/js/horizontal_bar_plots.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		(function ($) {
			$('#filter').keyup(function () {
				var rex = new RegExp($(this).val(), 'i');
				$('.searchable tr').hide();
				$('.searchable tr').filter(function () {
					return rex.test($(this).text());
				}).show();
			})
		}(jQuery));
	});
</script>
{% endblock %}

{% block content %}
<div id="index-banner" class="parallax-container bottom-border">
<div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-darken-4"> {{ account_name }}</h1>
            {% if included_accounts %}
            <div class="center">
                <h6 class="header col s12 teal-text text-darken-4">{{ included_accounts }}</h6>
            </div>
            {% endif %}
            <div class="row center">
                <h5 class="header col s12 teal-text text-darken-4">statements</h5>
            </div>

            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="{% static "img/grid.png" %}" alt="Grid image"></div>
</div>

<div class="container">
    <div class="section">
        {% for date, data in month.items %}
        <div class="row">
          <div id="summary_plot{{ date }}">
             <b></b>
              <svg style="width:100%;height:400px"></svg>
          </div>
        <script>createHorizontal({{ data.expense_type|safe }},'#summary_plot{{ date }} svg');</script>
        <br />
        </div>
        <div class="row">
            <div class="col s11 ">
                <input id="filter" type="text" class="form-control" placeholder="Type here...">
            </div>
            <div class="col s1" style="padding-top:15px">
                filter
            </div>
        </div>
        <div class="row">
            <div class="col l12 m12 s12 left">
                <table id="statements" width="100%"
                    class="responsive-table striped"  id="dataTables-example{{ key }}">
                    <thead>
                        <tr>
                            <th>Date</th>
                            {% if account_type == 'c' %}
                            <th>Account</th>
			                {% endif %}
                            <th>Text</th>
                            <th>Type</th>
                            <th>Amount</th>
                    <!--<th>Balance</th>-->
                            <th />
		                </tr>
                    </thead>
                    <tbody class="searchable">
                    {% if data.statements %}
                        {% for statement in data.statements %}
                        <tr {% if statement.exclude %} class="grey lighten-2 grey-text"  {% endif %}>
                            <td>{{ statement.date }}</td>
                            {% if account_type == 'c' %}
                            <td>{{ statement.account.name}}</td>
                            {% endif %}
                            <td>{{ statement.text }}</td>
                            <td>
                            {% if statement.type.parent_type and statement.type.parent_type.pk != 20000 %}
                            {{ statement.type.parent_type.name }} <br />
                            <div style="font-size:x-small;">{{ statement.type.name }}</div>
                            {% else %}
                            {{ statement.type.name }}
                            {% endif %}
                            </td>
                            <td>{{ statement.amount }}</td>
                            <td>
                            <a href="{% url 'bankbook:statement_edit' statement_id=statement.id %}">
                            <i class="material-icons tiny right">edit</i>
                            </a>
                            </td>
                        </tr>
    {% endfor  %}
{% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor  %}
    </div>
</div>
{% endblock %}