{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Type Summary</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
  <script src="{% static "bankbook/js/horizontal_bar_plots.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.css">

</head>

<body>
  {% for date, data in  summary.items %}
    <div id="summary_plot{{ date }}">
      <b>{{ date }}</b>
      <svg style="width:100%;height:400px"></svg>
    </div>
    <script>createHorizontal({{ data|safe }},'#summary_plot{{ date }} svg');</script>
  {% endfor %}

</body>
</html>