{% extends "base.html" %}
{% load static %}

{% block title %}
YECT: upload
{% endblock %}

{% block head_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.css">
{% endblock %}

{% block content %}
<div id="index-banner" class="parallax-container bottom-border">
<div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-darken-4"> {{ account_name }}</h1>
            {% if included_accounts %}
            <div class="center">
                <h6 class="header col s12 teal-text text-darken-4">{{ included_accounts }}</h6>
            </div>
            {% endif %}
            <div class="row center">
                <h5 class="header col s12 teal-text text-darken-4">statements</h5>
            </div>

            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="{% static "img/grid.png" %}" alt="Grid image"></div>
</div>

{% if form_set %}
<div class="container">
    <div class="section">
        <form action="#" method="post" class="form-horizontal form-label-left">
            {% csrf_token %}
            {{ form_set.management_form }}
            {% for form_row in  form_set %}
                    {{ form_row.non_field_errors }}
                    {{ form_row.account }}{{ form_row.account.errors }}
                    {{ form_row.group }}{{ form_row.group.errors }}
                    {{ form_row.transaction_type }}{{ form_row.transaction_type.errors }}
                    {{ form_row.balance }}{{ form_row.balancet.errors }}
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th style="width:100%">
                                Text
                            </th>
                            <th>
                                Amount
                            </th>
                            <th style="min-width:200px">
                                Type
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
        					{{ form_row.account }}{{ form_row.account.errors }}
        					<td>
        						{{ form_row.date }}{{ form_row.date.errors }}
        					</td>
        					<td>
        						{{ form_row.text }}{{ form_row.text.errors }}
        					</td>
        					<td>
        						{{ form_row.amount }}{{ form_row.amount.errors }}
        					</td>
        					<td>
        	                    <div class="form-group">
        					        {{ form_row.type }}{{ form_row.type.errors }}
        						</div>
        					</td>
        				</tr>
        				{% endfor %}
                        </tbody>
                    </table
            </div>
            <div class="row"> <br />
    			<div class="col s6 right-align">

    				<input class="btn btn-primary" id="save_records" name="save_records" type="submit" value="Save" />
    			</div>
    			<div class="col s6 left-align">
    				<a href="{% url 'bankbook:account_summary' account_type='a' account_id=account_id %}" class="btn btn-primary" >close</a>
    			</div>
    		</div>
	    </form>
    </div>
</div>


{% else %}
<div class="container">
    <div class="section">
        <form action="#" method="post" enctype="multipart/form-data">
        	{% csrf_token %}
        	<div class="row">
        		<div class="col s12 center">
        			<h4>Upload new records</h4>
        		</div>
        	</div>

        	<div class="row">
        		<div class="file-field input-field col s10">
        			<div class="input-group">
        				<div class="btn">
        					<span>File</span>
        					<input id="id_file" name="file"  type="file" required>
        				</div>
        				<div class="file-path-wrapper">
        					<input type="text" class="form-control" readonly>
        				</div>
        				{{ form.file.errors }}
        				{% if form.file.help_text %}
        					<small>
        						<span id="helpBlock" class="help-block">{{ form.file.help_text|safe }}</span>
        					</small>
        				{% endif %}
        			</div>
        		</div>
                <div class="input-field col s2">
    				<input id="id_upload" name="upload" class="btn btn-primary" type='submit' value='Upload' />
    			</div>
        	</div>
        </form>
    </div>
</div>
{% endif %}

{% endblock %}

{% block endscript %}

<script type="text/javascript">
$(document).on('change', ':file', function() {
		var input = $(this),
			numFiles = input.get(0).files ? input.get(0).files.length : 1,
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.trigger('fileselect', [numFiles, label]);
	  });

	  // We can watch for our custom `fileselect` event like this
	  $(document).ready( function() {
		  $(':file').on('fileselect', function(event, numFiles, label) {

			  var input = $(this).parents('.input-group').find(':text'),
				  log = numFiles > 1 ? numFiles + ' files selected' : label;

			  if( input.length ) {
				  input.val(log);
			  } else {
				  if( log ) alert(log);
			  }

		  });
	  });
  </script>
  {% endblock %}
